// color
$white: #FFFFFF;
$black: #13091C;
$blue: #201FD5;
$red: #DC0A1D;
$gray: #B3B3B4;
$lightblue: #2EA7E0;

// font-size
$text-sm: 1.2rem;
$text-base: 1.4rem;
$text-lg: 2rem;
$text-xl: 2.2rem;
$text-2xl: 2.5rem;
$text-3xl: 4.5rem;
